  <body>
    <h1>This will only be the last thing to be ready</h1>
    <p>I'm currently doing part 1, which only has silly examples</p>
    <p>I need to come up with the links at the top part, ideally I don't need to repeat the code everywhere</p>
  </body>
